<div class="medium-insert-images" contenteditable="false">
	<figure>
		<div class="medium-insert-image">
			<img src="{{{url}}}" />
		</div>
	</figure>
	<div class="medium-insert-images-overlay"></div>
</div>
